*.* linguist-language=python

*.ipynb linguist-vendored = false
# *.py linguist-detectable=false 
# *.cpp linguist-detectable=false 
# *.java linguist-detectable=false
# *.r linguist-detectable=true 
